<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601291013040-jil0i79fe60ul4qju71jth6gp8jd1q4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601291013040-jil0i79fe60ul4qju71jth6gp8jd1q4j</string>
	<key>API_KEY</key>
	<string>AIzaSyBCzvDAlSMAe4h2gyODeEa2XyzO5yRefCM</string>
	<key>GCM_SENDER_ID</key>
	<string>601291013040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterShoping</string>
	<key>PROJECT_ID</key>
	<string>fluttershop-38edd</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttershop-38edd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601291013040:ios:0770cf80af4259acbaf475</string>
	<key>DATABASE_URL</key>
	<string>https://fluttershop-38edd.firebaseio.com</string>
</dict>
</plist>